body{
    background-color: #080707;
    
}
.calculator{
    width:145px;
    margin:189px auto;
    border:3px solid black;
    border-radius:20px;
    padding:20px 49px 25px 25px;
    text-align:center;
    box-shadow:0 0 0 2px rgb(246, 243, 243) ;
    background-image:linear-gradient(to right, #73d0be,#4cdb58)
}
.display{
   width:100%;
   padding:29px 18px 5px 10px;
   height:110%;
   text-align:right;
   font-size:26px;
   color:balck;
   border:2px solid black;
   border-radius:4px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.keys{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 6px;
    padding-right: 4px;
}
#Buttons {
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 6px;
    padding-right: 4px;
    margin-top:10px;
    margin-bottom:10px;
    width:90%;
    text-align: center;  
   
}
#AC{
    width:117px;
    text-align:left;
    background-color: red;
    color:rgb(243, 241, 245);
   }
   

button{
    padding:10px;
    text-align:center;
    width:39px;
    height:40px;
    background-color: #f0f0f0;
    border:1px solid #000;
    border-radius:5px;
    
}
#del{
    background-color: black;
    color:white;
    width:130%;
}
button:hover{
    background:orange;
}
