body {
    background-color: white;
    max-width: 300vh; 
    max-height:100vh;
    margin: -10px auto;
    padding: 0 20px; 
}

.name {
    background-color: black;
    padding-top: 7.5vh;
    padding-bottom: 2vh;
    text-align: center;
}

#v {
    color: white;
    font-size: 25px;
    word-spacing: 0.2em;
    margin-bottom: 4vh;
}

#icon {
    width: 45px;
    height: 45px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#words {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    color: brown;
    word-spacing: 0.1em;
    margin-top: 20px;
}

#img2 {
    max-width: 100%;
    max-height: 300px; 
    width: 110vh;
    height: 24vh;
    margin-top: 20px;
}


.div3 {
    text-align: justify;
    color: white;
    padding: 20px;
    background-color: black;
}

#bio {
    text-align: center;
    font-size: 29px;
    padding: 5px;
    
}

#p2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 13.8px;
    padding: .5px 0px 2.5vh;
    margin-right:6.5vh;
    margin-left:6.5vh;
}

.div4 {
    background-color: rgb(247, 244, 244);
    height: 2px;
    
}

#p3 {
    font-size: 14px;
    text-align: center;
}

.main {
    margin:10px 50vh;
    padding: 20px;
    width: 70vh;
}

@media screen and (min-width: 600px) {
    .container {
        flex-direction: row;
    }

    #words {
        width: auto;
    }
}
